{% extends "navbar.html" %}

{% block body %}
<link href="/static/css/channels.css" rel="stylesheet" />
<section class="section hero" aria-label="home">
    <div class="container">
      <h1 class="h1 hero-title">List Of Your<strong class="strong"> Channels</strong></h1>
    </div>
  </section>

{% for channel in channels %}
<div class="list">
    <ul>
        <li>
            <a href="/chat/{{channel.group_id}}"><i class="fa-solid fa-arrow-right"></i>{{channel.group_name}}</a>
        </li>
        
    </ul>
    
</div>

{% endfor %}
{% endblock body %}


