{% extends "navbar.html" %}
{%block title%}Home {%endblock title %}
{%block body%}

<main>
    <article>
        <section class="section hero" aria-label="home">
            <div class="container">
    
              <h1 class="h1 hero-title">
                <strong class="strong">Guiding You</strong> Through Your First Steps In Coding
              </h1>
            </div>
          </section>
       
      <section class="section featured" aria-label="featured post">
        <div class="container">

          <p class="section-subtitle">
            Get started with our <strong class="strong">best stories</strong>
          </p>
        </div>
      </section>
    </article>
</main>

{% endblock body %}