<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- primary meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Sign UP</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <!-- <link rel="stylesheet" href="/static/css/navbar.css" /> -->
    <script src="https://kit.fontawesome.com/36d72e7e2f.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
      <div class="slider"></div>
      <div class="btn">
        <button class="login">Login</button>
        <button class="signup">Signup</button>
      </div>
      <!-- login form -->
      <div class="form-section">
        <div class="login-box">
          <input
            type="email"
            class="email ele"
            placeholder="youremail@email.com"
            name = "email"
          />
          <input type="password" name = "password" class="password ele" placeholder="password" />
          <button class="submit" onclick="showToast(loginmsg)">Login</button>
        </div>
        <!--signup form-->
        <div class="signup-box" id="signup-form">
          <input
            type="text"
            name = "username"
            class="name ele"
            id="username"
            placeholder="Enter your name"
          />
          <span id="username-error" class="error-message"></span>
          <input
            type="email"
            name = "email"
            class="email ele"
            placeholder="youremail@email.com"
          />
          <div class="password-container ele">
            <input
              type="password"
              name = "password"
              class="password ele"
              id="password"
              placeholder="Password"
            />
            <i
              class="bx bx-hide eye-icon"
              onclick="togglePassword('password', this)"
            ></i>
          </div>
          <div class="password-container ele">
            <input
              type="password"
              class="password ele"
              id="ConfirmPassword"
              placeholder="Confirm password"
            />
            <i
              class="bx bx-hide eye-icon"
              onclick="togglePassword('ConfirmPassword', this)"
            ></i>
          </div>
          <span id="password-match-error" class="error"></span>
          <button class="submit" onclick="showToast(signupmsg)">Signup</button>
        </div>
      </div>
    </div>

    <div id="toastBox">
        
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>