<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Verse</title>
    <link href="/static/css/navbar.css" rel="stylesheet" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&display=swap");
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <div class="nav">
      <a href="#">Home</a>
      <a href="#">Blogs</a>
      <a href="#">FAQS</a>
      <label class="logo"><img src="" alt="Logo" width="250" height="100"/></label>
      <a href="">Channels</a>
      <a href="">PROFILE</a>
      <a href="">Log In</a>
      </div>

    </body>
</html>